.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Sample test files to get jest up and running
/coverage/
/test/sum.js
/test/sum.test.js
